<div class="container vertically-centered horizontally-centered">
    <div class="text-title text">
        Whoops!
    </div>    
    <div class="text">
        There's nothing here right now, check back another time
    </div>
</div>
