body
{
    background: url("../images/plymouth_colour.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 150%;
}

.text-title
{
    font-size: 500%;
    padding-bottom: 25px;
}

.vertically-centered
{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.horizontally-centered
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}